body {
    background-color: rgb(0, 2, 105);
    ;
}

.header {
    background-color: #9933cc;
    color: #ffff;
    padding: 15px;
}

/* #no-select {
    color: #ffff;
    text-align: center;
    -webkit-user-select: none;
    cursor: not-allowed;
    pointer-events: none;
} */